@charset "UTF-8";

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Default
 * @version		0.1.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				/*\.class|(li|a):hover/
 * @level sep	ul
 */


ul.dropdown {
 font-weight: bold;
}

ul.dropdown li {
	padding: 7px 10px;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: #ffffff #d9d9d9 #d9d9d9;
	background-color: #993333;
	color: #ffffff;
	text-decoration: none;
}

ul.dropdown li.hover, ul.dropdown li:hover {
	background-color: #eeeeee;
	color: #ffffff;
	text-decoration: none;
}

ul.dropdown a:link {}
ul.dropdown a:hover		{ text-decoration: underline; }
ul.dropdown a:active	{ color: #ffffff; text-decoration: none;}


	/* -- level mark -- */

ul.dropdown ul {
	width: 150px;
	margin-top: 1px;
}

ul.dropdown ul li {
	font-weight: normal;
  text-decoration: none;
}




/*-------------------------------------------------/
 * @section		Support Class `dir`
 * @level sep	ul, .class
 */

ul.dropdown *.dir {
 padding-right: 0px;
 background-image: url(/images/menu/nav-arrow-down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
 text-decoration: none;
}

.dir_link {
 width: 119px;
}



ul.dropdown-horizontal ul *.dir {
 padding-right: 50px;
 background-image: url(/images/menu/nav-arrow-right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
 background-image: url(/images/menu/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,
ul.dropdown-upward ul *.dir {
 background-image: url(/images/menu/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl *.dir {
 padding-right: 10px;
 padding-left: 15px;
 background-image: url(/images/menu/nav-arrow-left.png);
 background-position: 0 50%;
}
